## Welcome,
### hellow
* list 1
* **2223 bold
</br>
<a href> here is a link</a>
<br>
<strong> strong</strong>
<H1>h</H1>

# **ID3 decision Tree Implementation with python**
Maman 11 - Data minining course
NOTE: Label Target Variable in CSV file as "**Decision**" 
NOTE2: Bla blaaq

In [17]:

import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from chefboost.training import Training 

df= pd.read_csv("Q1_1.csv")
df

   birth fly water legs   Decision
0      n   n     n    n   reptiles
1      n   n     y    n     fishes
2      y   n     y    n    mammals
3      n   n     s    y  amphibian
4      y   n     n    y    mammals
5      n   n     s    y  amphibian
6      y   n     y    n    mammals
7      n   y     n    y      birds
8      n   n     s    y      birds
9      n   n     s    y   reptiles
10     y   n     y    n     fishes
11     y   n     n    y    mammals

In [10]:
config = {'algorithm': 'ID3'} # optional: C4.5, CART, CHAID, Regression


# Calculate Anathropy:
infoGains = Training.findGains(df, config)
infoGains
# split by **water** = MAX information (0.918)

{'gains': {'birth': 0.8132020899844858,
  'fly': 0.24715018363696695,
  'water': 0.9182958340544893,
  'legs': 0.4798687566511526},
 'entropy': 2.2516291673878226}

**Split by MAX info.Gain (water = 0.91):**

In [11]:
water_s = df[df['water']=='s'].drop(columns='water')
water_s
#infoGains = Training.findGains(df[df['water']!='null'], config)
#infoGains

  birth fly legs   Decision
3     n   n    y  amphibian
5     n   n    y  amphibian
8     n   n    y      birds
9     n   n    y   reptiles

In [12]:
water_y = df[df['water']=='y'].drop(columns='water')
water_y

   birth fly legs Decision
1      n   n    n   fishes
2      y   n    n  mammals
6      y   n    n  mammals
10     y   n    n   fishes

In [13]:
water_n = df[df['water']=='n'].drop(columns='water')
water_n

   birth fly legs  Decision
0      n   n    n  reptiles
4      y   n    y   mammals
7      n   y    y     birds
11     y   n    y   mammals

In [14]:
# Calculate INFO:
infoGains = Training.findGains(water_y, config)
print("Gains: " + str(infoGains.get('gains')))
print('Entropy: ' + str(infoGains.get('entropy')))

Gains: {'birth': 0.31127812445913283, 'fly': 0.0, 'legs': 0.0}
Entropy: 1.0

In [15]:
infoGains = Training.findGains(water_n, config)
print("Gains: " + str(infoGains.get('gains')))
print('Entropy: ' + str(infoGains.get('entropy')))

Gains: {'birth': 1.0, 'fly': 0.8112781244591328, 'legs': 0.8112781244591328}
Entropy: 1.5

In [16]:
infoGains = Training.findGains(water_s, config)
print("Gains: " + str(infoGains.get('gains')))
print('Entropy: ' + str(infoGains.get('entropy')))

Gains: {'birth': 0.0, 'fly': 0.0, 'legs': 0.0}
Entropy: 1.5